* {
    margin: 0;
    font-family:'Montserrat', sans-serif;
}

/* Navar Section*/

.primary-header {
    display: flex;
    flex-direction: column;
}

.wall {
    background: #0C4429; 
    height: 90px;
    display: flex;
    width: 100%; 
    justify-content: space-between;

}

.logo {
    width: 100px;
    height: 90px;
    background-color: #EBF4F0;
    margin-left: 100px;
    
}

.img-logo {
    width: 140px;
    height: 110px;
    margin-left: -20px;
    margin-top: -10px;
    object-fit: cover;
}

.call-header {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.phone-logo {
    display: flex; 
    align-content: center; 
    justify-content: space-around;
    margin-right: 50px;
    margin-top: -20px;
    background-color: #ffff;
    width: 50px;
    height: 50px;
    border-radius: 20px;  
}

.number-header {
    font-size: 30px;
    margin-right: 10px; 
    margin-left: -30px;
    margin-top: -10px;
    color: #F5F5F5; 
}

.navar-bottom {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-left: -50px
    
}

nav ul li {
    list-style: none; 
}

nav ul li a {
    margin: 0 10px; 
    text-decoration: none; 
    font-size: 30px;
    border-left: 2px solid black;
    color: #000000;
    font-weight: lighter;
    padding-left: 10px;
}

nav ul li:hover {
    background-color: #EBF4F0;
    border-radius: 2px;
    
}

nav ul li a:hover {
    color: #0C4429;
}

/* First Section */

main {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100%;
}

.one-section {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    padding-bottom: 60px;
}

.img-portada {
    width: 100%;
    height: 400px;
    object-fit: cover;   
}

.text-portada-one {
    color: black;
    text-align: center;
    font-size: 22px;
    margin: 40px 20px 40px 20px;
    
}

.botton-portada {
    width: 160px;
    height: 40px;
    margin-left: 45%;
    font-size: 20px;
    background-color: #597769;
    border-radius: 5px;
    border: #597769;
    font-weight: bold;  
}

.botton-portada a {
    text-decoration: none;
    color: #000000;
}

.botton-portada:hover {
    background-color: #0C4429;
}


/* Second Section */

.two-section {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 40px 20px 50px 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    align-items: center;
    font-size: 18px;
}

.text-content {
    margin-top: 20px;
    margin-bottom: 40px;
}

.content-botton {
    width: 160px;
    height: 40px;
    font-size: 20px;
    background-color: #597769;
    border-radius: 5px;
    border: #597769;
}

.content-botton a {
    text-decoration: none;
    color: #000000;
}

.content-botton:hover{
    background-color: #0C4429;
}

/* Third Section */

.third-section {
    display: flex; 
    border-bottom: 2px solid black;

}

.img-form {
    width: 50%;
    height: 60%;
}

.img-form img {
    width: 100%;
    height: 120%;
}

.form-contact {
   /*background-color: crimson;*/
    display: flex;
    flex-direction: column;
   /* margin-left: 200px; */
    width: 50%;   
}

.form-contact div {
    padding: 40px ;
}

.title-form {
    font-size: 30px;
    padding-left: 180px;
}

.label-form {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 10px;
    margin-left: 110px;
}

.container-input {
    background-color: #EBF4F0;
    border-radius: 4px;
    
    
    
}

.input-form {
    width: 50%;
    padding: 8px 20px 8px ;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin-left: 100px; 
}

.input-form ::placeholder {
    color: #000000;
    font-weight: lighter;
}

.input-form:hover{
    background-color: #a1a4a3;
}

.submit-bottom {
    width: 50%;
    padding: 10px 12px 10px 10px;
    margin-top: -35px;
    margin-left: 24%;
    margin-bottom: 80px;
    font-size: 18px;
    background-color: #597769;
    border: none;
    border-radius: 4px;
    color: #000000;
    font-weight: bold;
}

.submit-bottom:hover {
    background-color: #0C4429;
}

/* Fourth part */

.fourth-part {
    display: flex;
    justify-content: center;
    /*border-bottom: 2px solid black; */
    
    

}

.call-center {
    display: flex;
    padding: 20px 0 20px 0;
     
}

.phone-call {
    margin-top: 8px;
    width: 80px;
    height: 80px;
    padding: 4px 6px 4px 6px;
    background-color: #D9D9D9;
}

.number-call {
    font-size: 42px;
    margin-top: 28px; 
}

.number-call:hover {
    color: #0C4429;
}


/* Footer Section */

footer {
    background: #0C4429;
    width: 100%;
    
}

.text-footer {
    padding: 18px 16px 20px 30px;
    display: flex;
    justify-content: center;
    font-weight: lighter;
    color: #000000;
}







 